body
{
    font-family: 'Segoe UI Variable Display', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
    background-color: #f2f2d4;
}



.headie {
    height: 50px;
    background-color: #f2f2d4;
    display: flex;
    margin: 0px;
}

.headie .flag {
    font-size: 2.1em;
    margin: 0px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px 10px 10px 10px;
    color: #112758;
} .flag .yellow
{
    color: rgb(255, 179, 0);
} .flag .red
{
    color: #ae0a0a;
}


.headie img 
{
    padding: 5px;
    background-color: #112758;
}

section .navy
{
    width: 100%;
    background-color: #112758;
    min-height: auto;
}

.navy ul
{
    margin: 0px;
    padding: 0px;
    background-color: #112758;
}

.navy li
{
    list-style-type: none;
    float: left;
}

.navy a
{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: rgb(255, 179, 0);
    font-size: 1.4em;
}
.ce_menu
{
    color: #ae0a0a !important;
    background-color: #f2f2d4; 
    text-decoration: underline #112758 !important; 
    text-decoration-thickness: 3px !important;  
    font-weight: bold;
}

.navy a:hover
{
    text-decoration: underline #112758;
    text-decoration-thickness: 3px;
    color: rgb(174, 10, 10);
    font-weight: bold;
    background: linear-gradient(180deg, #f2f2d4 25%, #112758 100%) ;
    transition-duration: 0.67s;
	transition-property: text-decoration color background-color;
    transition-timing-function: ease-in-out;
}
.navy ul li {
    display: inline-block;
    position: relative;
}
.navy ul li ul 
{
    display: none;
    position: absolute;
    top: 100%;
    
} .navy ul li ul a
{
    color: #ae0a0a;
    text-decoration: underline #ffb300;
    text-decoration-thickness: 3px;
    font-weight: bold;
}
.navy ul li ul li:hover
{
    text-decoration: underline #112758;
    text-decoration-thickness: 3px;
    color: rgb(174, 10, 10);
    font-weight: bold;
    background: linear-gradient(180deg, #f2f2d4 25%, #112758 100%) ;
    transition-duration: 0.67s;
	transition-property: text-decoration color background-color;
    transition-timing-function: ease-in-out; 
}
ul li:hover ul
{
    display: block;
}


.table
{
    display: table;
    margin: 0 auto;
}

.cours
{
    margin: 0px;
    height: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.77), transparent), url("../Assets/L2_one.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    padding-right: 5px !important;
    font-size: 1.2em;

}

.cours p
{
    margin: 0px;
    padding: 10px 15px 5px 15px;
    align-items: center;
    justify-content: center;
    color: #f2f2d4;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.cours center
{
    padding: 20px;
    overflow-y: scroll;
}
.cours center::-webkit-scrollbar {
    width: 7px;
}
.cours center::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    margin-bottom: 4px;
}
.cours center::-webkit-scrollbar-thumb {
    background-color: #112758;
    border-radius: 10px;
    border: 1px solid #f2f2d4;
    }
::-webkit-scrollbar-track-piece {
    background: transparent none; 	
    border: solid 6px transparent; 	
    border-right-width: 8px; 	
    margin: 4px;	
    -webkit-box-shadow: inset 1px 1px 0 0 rgb(255, 255, 255), inset -1px -1px 0 0 rgb(255, 255, 255);
    }
.cours p
{
align-items: center;
justify-content: center;
}
.cours p .one
{
    margin-top: 15px;
}



footer
{
    padding-inline: 20px;
    height: auto;
    text-align: center;
    background-color: #112758;
    color: rgb(255, 179, 0);
    border-top: 2px solid #fff;
    font-family: 'Rockwell', Georgia, 'Times New Roman', Times, serif;
}

footer ul li a
{
   color: rgb(255, 179, 0); 
   text-decoration: none;
}
footer ul li a:hover
{
    text-decoration: underline red;
    text-decoration-thickness: 3px;
    transition-duration: 0.37s;
	transition-property: text-decoration color;
    transition-timing-function: ease-in-out;
    color: #f2f2d4;
}

footer ul
{
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: 1;
    gap: 20px; /*Pour un plus bel espacement*/
    height: auto;
    width: auto;
    padding: 0px;
    margin: 0px;
}

footer .menu-con
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    list-style-type: none;
    height: auto;
    width: auto;
}

.socialNet
{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    list-style-type: none;
    height: auto;
    width: auto;
}
.copyright
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: auto;
    width: auto;
}
.headie_footer{
    height: 60px;
    background-color: #112758;
    display: flex;
    margin: 0px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 15px 15px 0px 0px;
} 

@media screen and (max-width: 780px)
{
    .headie
    {
        height: 50px;
    }
    .headie div
    {
        font-size: auto;
    }
    div .flag
    {
        font-size: 1.5em;
        margin: 20px 0px 0px 0px;
    }
    .navy
    {
        min-height: 60px;
    }
    .navy li a
    {
        font-size: 1.3em;
        padding: 10px;
    }
    .cours
{
    margin: 0px;
    height: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
        background: linear-gradient(rgba(0,0,0,0.77), transparent), url("../Assets/L2_one.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    padding-right: 5px !important;
    font-size: 1.2em;
}

.cours p
{
    margin: 0px;
    padding: 10px 15px 5px 15px;
    align-items: center;
    justify-content: center;
    color: #f2f2d4;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.cours center
{
    padding: 20px;
    overflow-y: scroll;
}
.cours center::-webkit-scrollbar {
    width: 7px;
}
.cours center::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    margin-bottom: 4px;
}
.cours center::-webkit-scrollbar-thumb {
    background-color: #112758;
    border-radius: 10px;
    border: 1px solid #f2f2d4;
    }
::-webkit-scrollbar-track-piece {
    background: transparent none; 	
    border: solid 6px transparent; 	
    border-right-width: 8px; 	
    margin: 4px;	
    -webkit-box-shadow: inset 1px 1px 0 0 rgb(255, 255, 255), inset -1px -1px 0 0 rgb(255, 255, 255);
    }
.cours p
{
align-items: center;
justify-content: center;
}
.cours p .one
{
    margin-top: 15px;
}
}