body
{
    font-family: 'Segoe UI Variable Display', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
    background-color: #f9f9ea;
}



.headie {
    height: 50px;
    background-color: #f9f9ea;
    display: flex;
    margin: 0px;
}

.headie .flag {
    font-size: 2.1em;
    margin: 0px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px 10px 10px 10px;
    color: #112758;
} .flag .yellow
{
    color: #ffb300;
} .flag .red
{
    color: #ae0a0a;
}


.headie img 
{
    padding: 5px;
    background-color: #112758;
}

section .navy
{
    width: 100%;
    background-color: #112758;
    min-height: auto;
}

.navy ul
{
    margin: 0px;
    padding: 0px;
    background-color: #112758;
}

.navy li
{
    list-style-type: none;
    float: left;
}

.navy a
{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #ffb300;
    font-size: 1.4em;
}
.ce_menu
{
    color: #ae0a0a !important;
    background: linear-gradient(180deg, #f9f9ea 25%, #112758 100%); 
    text-decoration: underline #112758 !important; 
    text-decoration-thickness: 3px !important;  
    font-weight: bold;
}

.navy a:hover
{
    text-decoration: underline #112758;
    text-decoration-thickness: 3px;
    color: rgb(174, 10, 10);
    font-weight: bold;
    background: linear-gradient(180deg, #f9f9ea 25%, #112758 100%);
    transition-duration: 0.67s;
	transition-property: text-decoration color background-color;
    transition-timing-function: ease-in-out;
}
.navy ul li {
    display: inline-block;
    position: relative;
}
.navy ul li ul 
{
    display: none;
    position: absolute;
    top: 100%;
    
} .navy ul li ul a
{
    color: #ae0a0a;
    text-decoration: underline #ffb300;
    text-decoration-thickness: 3px;
    font-weight: bold;
}
.navy ul li ul li:hover
{
    text-decoration: underline #112758;
    text-decoration-thickness: 3px;
    color: rgb(174, 10, 10);
    font-weight: bold;
    background: linear-gradient(180deg, #f9f9ea 25%, #112758 100%) ;
    transition-duration: 0.67s;
	transition-property: text-decoration color background-color;
    transition-timing-function: ease-in-out; 
}
ul li:hover ul
{
    display: block;
}


.table
{
    display: table;
    margin: 0 auto;
}

.cours
{
    margin: 0px;
    height: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.77), transparent), url("../Assets/L2_one.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    padding-right: 5px !important;
    padding-bottom: 8px;
    font-size: 1.2em;
}

.cours p
{
    margin: 0px;
    padding: 10px 15px 5px 15px;
    align-items: center;
    justify-content: center;
    color: #f9f9ea;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.cours center
{
    padding: 20px;
    overflow-y: scroll;
}
.cours center::-webkit-scrollbar {
    width: 7px;
}
.cours center::-webkit-scrollbar-track {
    background: rgba(17, 39, 88, 0.5);
    margin-bottom: 0px;
    margin-top: 10px;
}
.cours center::-webkit-scrollbar-thumb {
    background-color: #112758;
    border-radius: 10px;
    border: 1px solid #f9f9ea;
    }
::-webkit-scrollbar-track-piece {
    background: transparent none; 	
    border: solid 2px transparent; 	
    border-right-width: 2px; 	
    margin: 1px;	
    -webkit-box-shadow: inset 1px 1px 0 0 rgb(255, 255, 255), inset -1px -1px 0 0 rgb(255, 255, 255);
    }
.cours p
{
align-items: center;
justify-content: center;
}
.cours p .one
{
    margin-top: 15px;
}


table {
    font-family: 'Segoe UI', arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 2px solid #f9f9ea;
    text-align: center;
    padding: 8px;
    color: #f9f9ea;
  }
  th
  {
    border: 2px solid #f9f9ea;
    text-align: center;
    padding: 8px;
    color: #ffb300;
  }
  
  /*tr:nth-child(even) {
    background-color: #f9f9ea;
  }*/

.old_semestry
{
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #112758;
    color: #ffb300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 15px;
    margin-inline: 7px;   
} .old_semestry h2 {
    font-weight: normal;
    margin: 0px;
    padding: 10px;
}

.old_semestry p
{
    text-align: center;
    margin: 0px;
} 
.semestry
{
    margin-top: 30px;
    padding: 10px 10px 23px 10px;
    background-color: #112758;
    color: #ffb300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 0px;   
    font-weight: normal; 
    margin-inline: 7px; 
}

.tab_horaire
{
    background: linear-gradient(rgba(0,0,0,0.9), transparent), url("../Assets/cal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    color: #ffb300;
} .day {
    color: #ffb300;
    font-weight: bolder;
} .pause {
    font-weight: bold;
    color: #ffb300;
    text-align: center;
}
.tab {
    margin-inline: 7px;
    background-color: #112758;  
    border: 2px solid #ff0000;  
} /*Pour le margin-inline des tabs*/

.tab_profs
{
    margin-bottom: 3px;
    background: linear-gradient(rgba(0,0,0,0.77), transparent), url("../Assets/prof.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    color: #ffb300;
    margin-top: 0px;
}
.profs
{
    background-color: #112758;
    padding: 5px;
    margin: 0px;
    color: #ffb300;
    font-weight: 500;
}
.horaire
{
    background-color: #112758;
    padding: 5px;
    margin: 0px;
    color: #ffb300;
    font-weight: 500;
} .ass {
    background: linear-gradient(rgba(0,0,0,0.77), transparent), url("../Assets/explain.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    margin: 0px;
    padding-top: 5px;
    border-collapse: collapse;
}
.the_ass
{
    background-color: #112758;
    padding: 0px;
    margin: 0px;
    color: #ffb300;
    font-weight: 500;
    text-align: center;
    padding: 5px;
} .ass p {
    color: #f9f9ea;
    padding: 0px 5px 5px 5px;
    text-align: center;
    border: 3px #f9f9ea;
}

.footie 
{
    margin-top: 0px;
    padding: 10px 10px 23px 10px;
    background-color: #112758;
    color: #ff0000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0px 0px 15px 15px;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 10px;  
    margin-inline: 7px; 
}


footer
{
    padding-inline: 20px;
    height: auto;
    text-align: center;
    background-color: #112758;
    color: #ffb300;
    border-top: 2px solid #fff;
    font-family: 'Rockwell', Georgia, 'Times New Roman', Times, serif;
}

footer ul li a
{
   color: #ffb300; 
   text-decoration: none;
}
footer ul li a:hover
{
    text-decoration: underline red;
    text-decoration-thickness: 3px;
    transition-duration: 0.37s;
    transition-property: text-decoration color;
    transition-timing-function: ease-in-out;
    color: #f9f9ea;
}

footer ul
{
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: 2;
    gap: 20px; /*Pour un plus bel espacement*/
    height: auto;
    width: auto;
    padding: 0px;
    margin: 0px;
}

footer .menu-con
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    list-style-type: none;
    height: auto;
    width: auto;
}

.socialNet
{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    list-style-type: none;
    height: auto;
    width: auto;
}
.copyright
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: auto;
    width: auto;
    margin-bottom: 0px;
}

.come_back_on_the_top
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 5px;
    background-color: #f9f9ea;
    border-radius: 15px 15px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.come_back_on_the_top a
{   
    color: #112758;
    font-size: 0.7em;
    text-decoration: none;
    font-size: 0.8em;
    padding: 5px;
    
}
.come_back_on_the_top a:hover
{
    text-decoration: underline red;
    text-decoration-thickness: 3px;
    transition-duration: 0.37s;
    transition-property: text-decoration;
    transition-timing-function: ease-in-out;   
}


@media screen and (max-width: 780px)
{
    .headie
    {
        height: 50px;
    }
    .headie div
    {
        font-size: auto;
    }
    div .flag
    {
        font-size: 1.5em;
        margin: 20px 0px 0px 0px;
    }
    .navy
    {
        min-height: 60px;
    }
    .navy li a
    {
        font-size: 1.3em;
        padding: 10px;
    }
    .cours
{
    margin: 0px;
    height: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.77), transparent), url("../Assets/L2_one.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    padding-right: 5px !important;
    font-size: 1.2em;
}

.cours p
{
    margin: 0px;
    padding: 10px 15px 5px 15px;
    align-items: center;
    justify-content: center;
    color: #f9f9ea;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.cours center
{
    padding: 20px;
    overflow-y: scroll;
}
.cours center::-webkit-scrollbar {
    width: 7px;
}
.cours center::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    margin-bottom: 4px;
}
.cours center::-webkit-scrollbar-thumb {
    background-color: #112758;
    border-radius: 10px;
    border: 1px solid #f9f9ea;
    }
::-webkit-scrollbar-track-piece {
    background: transparent none; 	
    border: solid 6px transparent; 	
    border-right-width: 8px; 	
    margin: 4px;	
    -webkit-box-shadow: inset 1px 1px 0 0 rgb(255, 255, 255), inset -1px -1px 0 0 rgb(255, 255, 255);
    }
.cours p
{
align-items: center;
justify-content: center;
}
.cours p .one
{
    margin-top: 15px;
}
}