body
{
    font-family: 'Segoe UI Variable Display', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
    background-color: #f9f9ea;
}



.headie {
    height: 50px;
    background-color: #f9f9ea;
    display: flex;
    margin: 0px;
}

.headie .flag {
    font-size: 2.1em;
    margin: 0px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px 10px 10px 10px;
    color: #112758;
} .flag .yellow
{
    color: #ffb300;
} .flag .red
{
    color: #ae0a0a;
}


.headie img 
{
    padding: 5px;
    background-color: #112758;
}

section .navy
{
    width: 100%;
    background-color: #112758;
    min-height: auto;
}

.navy ul
{
    margin: 0px;
    padding: 0px;
    background-color: #112758;
}

.navy li
{
    list-style-type: none;
    float: left;
}

.navy a
{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #ffb300;
    font-size: 1.4em;
}
.ce_menu
{
    color: #ae0a0a !important;
    background: linear-gradient(180deg, #f9f9ea 25%, #112758 100%); 
    text-decoration: underline #112758 !important; 
    text-decoration-thickness: 3px !important;  
    font-weight: bold;
}

.navy a:hover
{
    text-decoration: underline #112758;
    text-decoration-thickness: 3px;
    color: rgb(174, 10, 10);
    font-weight: bold;
    background: linear-gradient(180deg, #f9f9ea 25%, #112758 100%) ;
    transition-duration: 0.67s;
	transition-property: text-decoration color background-color;
    transition-timing-function: ease-in-out;
}
.navy ul li {
    display: inline-block;
    position: relative;
}
.navy ul li ul 
{
    display: none;
    position: absolute;
    top: 100%;
    
} .navy ul li ul a
{
    color: #ae0a0a;
    text-decoration: underline #ffb300;
    text-decoration-thickness: 3px;
    font-weight: bold;
}
.navy ul li ul li:hover
{
    text-decoration: underline #112758;
    text-decoration-thickness: 3px;
    color: rgb(174, 10, 10);
    font-weight: bold;
    background: linear-gradient(180deg, #f9f9ea 25%, #112758 100%) ;
    transition-duration: 0.67s;
	transition-property: text-decoration color background-color;
    transition-timing-function: ease-in-out; 
}
ul li:hover ul
{
    display: block;
}


.table
{
    display: table;
    margin: 0 auto;
}

.welcome
{
    margin: 0px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Assets/wlcm.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
}

.welcome p
{
    margin: 0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: #f9f9ea;
    display: flex;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


.goal
{
    margin: 0px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: cemter;
    flex-direction: column;
    background-color: #112758;
    margin-top: -40px;
    border-radius: 20px 20px 0px 0px;
    width: 85vw;
    padding-right: 5px;
    padding-bottom: 8px;
    font-size: 1.1em;
}

.goal p
{
    margin: 0px;
    padding: 10px 15px 10px 15px;
    align-items: center;
    justify-content: center;
    color: #f9f9ea;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.goal div
{
    padding: 10px 0px 0px 15px;
    margin-top: 10px;
    overflow-y: scroll;
}
.goal div::-webkit-scrollbar {
    width: 7px;
}
.goal div::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    margin-bottom: 4px;
}
.goal div::-webkit-scrollbar-thumb {
    background-color: #112758;
    border-radius: 10px;
    border: 1px solid #f9f9ea;
    }
::-webkit-scrollbar-track-piece {
    background: transparent none; 	
    border: solid 6px transparent; 	
    border-right-width: 8px; 	
    margin: 4px;	
    -webkit-box-shadow: inset 1px 1px 0 0 rgb(255, 255, 255), inset -1px -1px 0 0 rgb(255, 255, 255);
    }

    .continue
    {
        color: #ffb300;
        background-color: #112758;
        margin-top: 10px;
        padding: 20px;
        font-size: 1.35em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        border-bottom: 7px dashed #ff0000;
    }


.plus
{ 
    padding: 0px; 
    font-family: 'Segoe UI Variable Display';
    display:flex; 
    font-size: 1em;
    overflow-x: scroll;
    flex-direction: row;
    font-size: 1.1em;
    background-color: #f9f9ea;
}
.plus::-webkit-scrollbar {
    width: 3px;
  }
.plus::-webkit-scrollbar-track {
    background: rgb(17, 39, 88, 0.6);
    margin-bottom: 4px;
  }
  
.plus::-webkit-scrollbar-thumb {
    background-color: #ffb300;
    border-radius: 20px;
    border: 3px solid #f9f9ea;
    }
  
  ::-webkit-scrollbar-track-piece {
      background: transparent none; 	
      border: solid 6px transparent; 	
      border-right-width: 8px; 	
      margin: 4px;
      /*margin-bottom: 20px;*/ 	
      -webkit-box-shadow: inset 1px 1px 0 0 rgb(249, 249, 234), inset -1px -1px 0 0 rgb(249, 249, 234);
  }
.plus div
{   
    min-width: 250px;
    color: #f9f9ea; 
    margin: 23px; 
    margin-top: 10px;
    border-radius: 20px; 
    padding-inline: 10px; 
    height: auto;
    box-shadow: 7px 7px 20px 10px #112758;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.23s;
}
.plus div:hover
{
    transform: scale(1.03);
}

.plus h2 a
{
    color: #f9f9ea;
    font-size: 1.1em;
    text-decoration: none;
    text-decoration: underline #112758 3px;
    background-color: #ffb300;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
}
.plus h2 a:hover
{
    text-decoration: underline #112758;
    text-decoration-thickness: 3px;
    color: rgb(174, 10, 10);
    font-weight: bold;
    background: linear-gradient(180deg, #f9f9ea 25%, #112758 100%) ;
    transition-duration: 0.67s;
	transition-property: text-decoration color background-color;
    transition-timing-function: ease-in-out;
}

.cours
{
    background: linear-gradient(rgba(0,0,0,0.87), transparent), url("../Assets/learn.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.etudiants
{
    background: linear-gradient(rgba(0,0,0,0.87), transparent), url("../Assets/L2_two.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.horaire
{
    background: linear-gradient(rgba(0,0,0,0.87), transparent), url("../Assets/cal.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.professeurs
{
    background: linear-gradient(rgba(0,0,0,0.87), transparent), url("../Assets/prof.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




footer
{
    padding-inline: 20px;
    height: auto;
    text-align: center;
    background-color: #112758;
    color: #ffb300;
    border-top: 5px dashed #ff0000;
    font-family: 'Rockwell', Georgia, 'Times New Roman', Times, serif;
}

footer ul li a
{
   color: #ffb300; 
   text-decoration: none;
}
footer ul li a:hover
{
    text-decoration: underline red;
    text-decoration-thickness: 3px;
    transition-duration: 0.37s;
    transition-property: text-decoration color;
    transition-timing-function: ease-in-out;
    color: #f9f9ea;
}

/*Pour diviser like I want...*/
footer ul
{
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: 2;
    gap: 20px; /*Pour un plus bel espacement*/
    height: auto;
    width: auto;
    padding: 0px;
    margin: 0px;
}

footer .menu-con
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    list-style-type: none;
    height: auto;
    width: auto;
}

.socialNet
{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    list-style-type: none;
    height: auto;
    width: auto;
}
.copyright
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: auto;
    width: auto;
    margin-bottom: 0px;
}

.come_back_on_the_top
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 5px;
    background-color: #f9f9ea;
    border-radius: 15px 15px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.come_back_on_the_top a
{   
    color: #112758;
    font-size: 0.7em;
    text-decoration: none;
    font-size: 0.8em;
    padding: 5px;
    
}
.come_back_on_the_top a:hover
{
    text-decoration: underline red;
    text-decoration-thickness: 3px;
    transition-duration: 0.37s;
    transition-property: text-decoration;
    transition-timing-function: ease-in-out;   
}

@media screen and (max-width: 780px)
{
    .headie{
        height: 50px;
    }
    .headie div{
        font-size: auto;
    }
    div .flag
    {
        font-size: 1.5em;
        margin: 20px 0px 0px 0px;
    }
    .navy
    {
        min-height: 60px;
    }
    .navy li a {
        font-size: 1.3em;
        padding: 10px;
    }
    .welcome 
    {
        background-image: url("../Assets/wlcm.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        background-size: cover;
    }
    .welcome p
    {
        font-size: 1.1em;
        align-items: center;
        justify-content: center;
    }
    .goal
    {
        height: 300px;
    }

}